<div id="1">
 <h1>What is the future of water? </h1>
 <br>
  <p>
    When it comes to ensuring future growth,"Business as usual" attitudes towards water management is not an option.<br>
	With the ever-increasing global population and decrease in clean water availability, is it becoming necessary to buy<br>
	expensive equipment to filtrate water in vulnerable areas?<br>
	<br>
	or should we be raising awareness using social media? Go Figure. 
  </p>
 </div>
<div id="2">
 <h2>Will it ever end?</h2>
  <br>
  <p>Anyone who can read this already knows that prevention is better than cure this is why spreading awareness<br>
  using applications and websites will help in spreading awareness.<p>
</div>
<div id="3">
  <h3>The vision at the end of the tunnel.</h3>
  <p>Water use in South Africa is as accorded by water departments to estimate a national outstrip by 2025.South Africa cannot <br>
  afford to build more dams and water transfer schemes as they cost large amounts of money. Thus water in South Africa is in great demand.<br></p>
  <h4>Developer Note.</h4>
  <p>A search algorithm and a mini form on the map page would have been the cherry on top in order to dynamically </p>
<div class="twitter">
		<a class="twitter-timeline" 
		href="https://twitter.com/hashtag/spaceappschallenge" 
		data-widget-id="586686712102944768">#spaceappschallenge Tweets</a>
		<script>!function(d,s,id){
		var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>	

<div class="facebook">
	<div class="fb-like" data-href="https://www.facebook.com/pages/Phand-Ulwazi-Developers" data-width="10" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

<div><p><br></p></div>
<div class="me">
   <img src="/images/30e0821.jpg" alt=Me id="me" ></img> 
<div class ="details">
	Name: Khanyisa Fante<br>
	Age: 21 <br>
	hobby: Music <br>
	Extra Mural: BaskteBall<br>	
	Bio: Self-Taught,Self-Motivated,Self-Employed<br>
	
<div>
</div>